<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin</title>
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.1.1/flowbite.min.css"
      rel="stylesheet"
    />
  </head>

  <body>
    
    <button
      data-drawer-target="default-sidebar"
      data-drawer-toggle="default-sidebar"
      aria-controls="default-sidebar"
      type="button"
      class="inline-flex items-center p-2 mt-2 ms-3 text-sm text-gray-500 rounded-lg sm:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
    >

      <span class="sr-only">Open sidebar</span>
      <svg
        class="w-6 h-6"
        aria-hidden="true"
        fill="currentColor"
        viewBox="0 0 20 20"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
            clip-rule="evenodd"
            fill-rule="evenodd"
            d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z"
        >
        </path>
      </svg>
    </button>
    
    <aside
    id="default-sidebar"
      class="fixed top-0 left-0 z-40 w-64 h-screen transition-transform -translate-x-full sm:translate-x-0"
      aria-label="Sidebar"
    >
      <div class="h-full px-3 py-4 overflow-y-auto bg-gray-50 dark:bg-gray-800">
        <ul class="space-y-2 font-medium">
          <li id="inputData">
            <a
              href="#input-section"
              class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group"
            >
              <svg
                class="w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                viewBox="0 0 22 21"
              >
              
                <path
                  d="M16.975 11H10V4.025a1 1 0 0 0-1.066-.998 8.5 8.5 0 1 0 9.039 9.039.999.999 0 0 0-1-1.066h.002Z"
                >
                </path>
                <path
                  d="M12.5 0c-.157 0-.311.01-.565.027A1 1 0 0 0 11 1.02V10h8.975a1 1 0 0 0 1-.935c.013-.188.028-.374.028-.565A8.51 8.51 0 0 0 12.5 0Z"
                >
                </path>
              </svg>
              <span class="ms-3">Input User</span>
            </a>
          </li>
          <li id="lihatUser">
            <a
              href="#user_section"
              class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group"
            >
              <svg
                class="flex-shrink-0 w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                viewBox="0 0 18 18"
              >
                <path
                  d="M6.143 0H1.857A1.857 1.857 0 0 0 0 1.857v4.286C0 7.169.831 8 1.857 8h4.286A1.857 1.857 0 0 0 8 6.143V1.857A1.857 1.857 0 0 0 6.143 0Zm10 0h-4.286A1.857 1.857 0 0 0 10 1.857v4.286C10 7.169 10.831 8 11.857 8h4.286A1.857 1.857 0 0 0 18 6.143V1.857A1.857 1.857 0 0 0 16.143 0Zm-10 10H1.857A1.857 1.857 0 0 0 0 11.857v4.286C0 17.169.831 18 1.857 18h4.286A1.857 1.857 0 0 0 8 16.143v-4.286A1.857 1.857 0 0 0 6.143 10Zm10 0h-4.286A1.857 1.857 0 0 0 10 11.857v4.286c0 1.026.831 1.857 1.857 1.857h4.286A1.857 1.857 0 0 0 18 16.143v-4.286A1.857 1.857 0 0 0 16.143 10Z"
                >
                </path>
              </svg>
              <span class="flex-1 ms-3 whitespace-nowrap">Daftar User</span>
            </a>
          </li>
          <li id="lihatData">
            <a
              href="#data_section"
              class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group"
            >
              <svg
                class="flex-shrink-0 w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                viewBox="0 0 18 18"
              >
                <path
                  d="M6.143 0H1.857A1.857 1.857 0 0 0 0 1.857v4.286C0 7.169.831 8 1.857 8h4.286A1.857 1.857 0 0 0 8 6.143V1.857A1.857 1.857 0 0 0 6.143 0Zm10 0h-4.286A1.857 1.857 0 0 0 10 1.857v4.286C10 7.169 10.831 8 11.857 8h4.286A1.857 1.857 0 0 0 18 6.143V1.857A1.857 1.857 0 0 0 16.143 0Zm-10 10H1.857A1.857 1.857 0 0 0 0 11.857v4.286C0 17.169.831 18 1.857 18h4.286A1.857 1.857 0 0 0 8 16.143v-4.286A1.857 1.857 0 0 0 6.143 10Zm10 0h-4.286A1.857 1.857 0 0 0 10 11.857v4.286c0 1.026.831 1.857 1.857 1.857h4.286A1.857 1.857 0 0 0 18 16.143v-4.286A1.857 1.857 0 0 0 16.143 10Z"
                >
                </path>
              </svg>
              <span class="flex-1 ms-3 whitespace-nowrap">Daftar Pemeriksaan</span>
            </a>
          </li>
          
          <li id="lihatDokter">
            <a
              href="#dokter_section"
              class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group"
            >
              <svg
                class="flex-shrink-0 w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                viewBox="0 0 18 18"
              >
                <path
                  d="M6.143 0H1.857A1.857 1.857 0 0 0 0 1.857v4.286C0 7.169.831 8 1.857 8h4.286A1.857 1.857 0 0 0 8 6.143V1.857A1.857 1.857 0 0 0 6.143 0Zm10 0h-4.286A1.857 1.857 0 0 0 10 1.857v4.286C10 7.169 10.831 8 11.857 8h4.286A1.857 1.857 0 0 0 18 6.143V1.857A1.857 1.857 0 0 0 16.143 0Zm-10 10H1.857A1.857 1.857 0 0 0 0 11.857v4.286C0 17.169.831 18 1.857 18h4.286A1.857 1.857 0 0 0 8 16.143v-4.286A1.857 1.857 0 0 0 6.143 10Zm10 0h-4.286A1.857 1.857 0 0 0 10 11.857v4.286c0 1.026.831 1.857 1.857 1.857h4.286A1.857 1.857 0 0 0 18 16.143v-4.286A1.857 1.857 0 0 0 16.143 10Z"
                ></path>
              </svg>
              <span class="flex-1 ms-3 whitespace-nowrap">Daftar Pasien</span>
            </a>
          </li>
          <li id="lihatObat">
            <a
              href="#obat_section"
              class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group"
            >
              <svg
                class="flex-shrink-0 w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                viewBox="0 0 18 18"
              >
                <path
                  d="M6.143 0H1.857A1.857 1.857 0 0 0 0 1.857v4.286C0 7.169.831 8 1.857 8h4.286A1.857 1.857 0 0 0 8 6.143V1.857A1.857 1.857 0 0 0 6.143 0Zm10 0h-4.286A1.857 1.857 0 0 0 10 1.857v4.286C10 7.169 10.831 8 11.857 8h4.286A1.857 1.857 0 0 0 18 6.143V1.857A1.857 1.857 0 0 0 16.143 0Zm-10 10H1.857A1.857 1.857 0 0 0 0 11.857v4.286C0 17.169.831 18 1.857 18h4.286A1.857 1.857 0 0 0 8 16.143v-4.286A1.857 1.857 0 0 0 6.143 10Zm10 0h-4.286A1.857 1.857 0 0 0 10 11.857v4.286c0 1.026.831 1.857 1.857 1.857h4.286A1.857 1.857 0 0 0 18 16.143v-4.286A1.857 1.857 0 0 0 16.143 10Z"
                ></path>
              </svg>
              <span class="flex-1 ms-3 whitespace-nowrap">Daftar Obat</span>
            </a>
          </li>
        </ul>
      </div>
    </aside>
    
    <div class="p-4 sm:ml-64 h-screen">
      {% if session.logged_in %}
      <header>
        <nav class="bg-white border-gray-200 dark:bg-gray-900">
          <div class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl p-4">
            <a href="https://flowbite.com" class="flex items-center space-x-3 rtl:space-x-reverse">
              <img src="https://flowbite.com/docs/images/logo.svg" class="h-8" alt="Flowbite Logo" />
              <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">Flowbite</span>
            </a>
            <div class="flex items-center space-x-6 rtl:space-x-reverse">
              <a class="text-sm  text-gray-500 dark:text-white hover:underline">Halo, {{ username }}! Anda memiliki peran: {{ role }}</a>
              <a href="/logout" class="text-sm  text-blue-600 dark:text-blue-500 hover:underline">Logout</a>
            </div>
          </div>
        </nav>
      </header>
      <div
      id="input-section"
      class="p-4 border-2 border-gray-200 border-dashed rounded-lg dark:border-gray-700 h-screen"
      >	
      <form method="POST" action="/admin">
        <div class="mb-6">
          <input 
            type="text" 
            id="typeEmailX" 
            class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" 
            placeholder="Usename" 
            name="username" 
            />
        </div>
        <div class="mb-6">
          <input 
            type="password" 
            id="typePasswordX" 
            class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            placeholder="Password" 
            name="password" 
          />
        </div>
        <div class="mb-6">
          <input 
            type="text" 
            id="typeContactX" 
            class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
				    placeholder="Role" 
            name="role" />
        </div>
        <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Submit</button>
      </form>
        {% if encrypted_name and encrypted_address %}
          <h2>Hasil Enkripsi:</h2>
          <p>Nama Terenkripsi: {{ encrypted_name }}</p>
          <p>Alamat Terenkripsi: {{ encrypted_address }}</p>
        {% endif %}
    </div>
    <div
      id="data-section"
      class="p-4 border-2 border-gray-200 border-dashed rounded-lg dark:border-gray-700 hidden h-screen"
    >
      <div class="grid gap-4 mb-4 h-full">
        <iframe src="/view_pemeriksaan" width="100%" height="100%" frameborder="0"></iframe>
      </div>
    </div>
    <div
      id="obat-section"
      class="p-4 border-2 border-gray-200 border-dashed rounded-lg dark:border-gray-700 hidden h-screen"
    >
      <div class="grid gap-4 mb-4 h-full">
        <iframe src="/view_obat" width="100%" height="100%" frameborder="0"></iframe>
      </div>  
    </div>
    <div
      id="user-section"
      class="p-4 border-2 border-gray-200 border-dashed rounded-lg dark:border-gray-700 hidden h-screen"
    >
      <div class="grid gap-4 mb-4 h-full">
        <iframe src="/view_user" width="100%" height="100%" frameborder="0"></iframe>
      </div>
    </div>
    <div
      id="dokter-section"
      class="p-4 border-2 border-gray-200 border-dashed rounded-lg dark:border-gray-700 hidden h-screen"
    >
      <div class="grid gap-4 mb-4 h-full">
        <iframe src="/view_pasien" width="100%" height="100%" frameborder="0"></iframe>
      </div>
        
    </div>
    <div
      id="dokter-section"
      class="p-4 border-2 border-gray-200 border-dashed rounded-lg dark:border-gray-700 hidden h-screen"
    >
      <div class="grid gap-4 mb-4 h-full">
         <iframe src="/view_obat" width="100%" height="100%" frameborder="0"></iframe>
      </div>
    </div>
    {% else %}
    <p>
      You need to log in to access this page. Please
      <a href="/">login</a>.
    </p>
    {% endif %}
    
    <script>
      const inputData = document.getElementById("inputData");
      const lihatData = document.getElementById("lihatData");
      const lihatDokter = document.getElementById("lihatDokter");
      const lihatUser = document.getElementById("lihatUser")
      const forminputData = document.getElementById("input-section");
      const formlihatData = document.getElementById("data-section");
      const formlihatDokter = document.getElementById("dokter-section");
      const formlihatObat = document.getElementById("obat-section");
      const formlihatUser = document.getElementById("user-section");
      inputData.addEventListener("click", function () {
        forminputData.classList.remove("hidden");
        formlihatData.classList.add("hidden");
        formlihatDokter.classList.add("hidden");
        formlihatObat.classList.add("hidden");
      });
      
      lihatUser.addEventListener("click", function () {
        forminputData.classList.add("hidden");
        formlihatUser.classList.remove("hidden");
        formlihatData.classList.add("hidden");
        formlihatDokter.classList.add("hidden");
        formlihatObat.classList.add("hidden");
      });

      lihatData.addEventListener("click", function () {
        formlihatData.classList.remove("hidden");
        formlihatUser.classList.add("hidden");
        forminputData.classList.add("hidden");
        formlihatDokter.classList.add("hidden");
        formlihatObat.classList.add("hidden");
      });

      lihatDokter.addEventListener("click", function () {
        formlihatDokter.classList.remove("hidden");
        formlihatUser.classList.add("hidden");
        formlihatData.classList.add("hidden");
        forminputData.classList.add("hidden");
        formlihatObat.classList.add("hidden");
      });

      lihatObat.addEventListener("click", function () {
        formlihatObat.classList.remove("hidden");
        formlihatUser.classList.add("hidden");
        formlihatDokter.classList.add("hidden");
        formlihatData.classList.add("hidden");
        forminputData.classList.add("hidden");
      });
    </script>
  </body>
</html>
