<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link href="/dist/output.css" rel="stylesheet" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.1.1/flowbite.min.css"
      rel="stylesheet"
    />
  </head>

  <body>
    <button
      data-drawer-target="default-sidebar"
      data-drawer-toggle="default-sidebar"
      aria-controls="default-sidebar"
      type="button"
      class="inline-flex items-center p-2 mt-2 ms-3 text-sm text-gray-500 rounded-lg sm:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
    >
    
      <span class="sr-only">Open sidebar</span>
      <svg
        class="w-6 h-6"
        aria-hidden="true"
        fill="currentColor"
        viewBox="0 0 20 20"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          clip-rule="evenodd"
          fill-rule="evenodd"
          d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z"
        ></path>
      </svg>
    </button>

    <aside
      id="default-sidebar"
      class="fixed top-0 left-0 z-40 w-64 h-screen transition-transform -translate-x-full sm:translate-x-0"
      aria-label="Sidebar"
    >
      <div class="h-full px-3 py-4 overflow-y-auto bg-gray-50 dark:bg-gray-800">
        <ul class="space-y-2 font-medium">
          <li id="inputObat">
            <a
              href="#input-section"
              class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group"
            >
              <svg
                class="w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                viewBox="0 0 22 21"
              >
                <path
                  d="M16.975 11H10V4.025a1 1 0 0 0-1.066-.998 8.5 8.5 0 1 0 9.039 9.039.999.999 0 0 0-1-1.066h.002Z"
                ></path>
                <path
                  d="M12.5 0c-.157 0-.311.01-.565.027A1 1 0 0 0 11 1.02V10h8.975a1 1 0 0 0 1-.935c.013-.188.028-.374.028-.565A8.51 8.51 0 0 0 12.5 0Z"
                ></path>
              </svg>
              <span class="ms-3">Dashboard</span>
            </a>
          </li>
          <li id="lihatObat">
            <a
              href="#data_section"
              class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group"
            >
              <svg
                class="flex-shrink-0 w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                viewBox="0 0 18 18"
              >
                <path
                  d="M6.143 0H1.857A1.857 1.857 0 0 0 0 1.857v4.286C0 7.169.831 8 1.857 8h4.286A1.857 1.857 0 0 0 8 6.143V1.857A1.857 1.857 0 0 0 6.143 0Zm10 0h-4.286A1.857 1.857 0 0 0 10 1.857v4.286C10 7.169 10.831 8 11.857 8h4.286A1.857 1.857 0 0 0 18 6.143V1.857A1.857 1.857 0 0 0 16.143 0Zm-10 10H1.857A1.857 1.857 0 0 0 0 11.857v4.286C0 17.169.831 18 1.857 18h4.286A1.857 1.857 0 0 0 8 16.143v-4.286A1.857 1.857 0 0 0 6.143 10Zm10 0h-4.286A1.857 1.857 0 0 0 10 11.857v4.286c0 1.026.831 1.857 1.857 1.857h4.286A1.857 1.857 0 0 0 18 16.143v-4.286A1.857 1.857 0 0 0 16.143 10Z"
                ></path>
              </svg>
              <span class="flex-1 ms-3 whitespace-nowrap">Kanban</span>
              <span
                class="inline-flex items-center justify-center px-2 ms-3 text-sm font-medium text-gray-800 bg-gray-100 rounded-full dark:bg-gray-700 dark:text-gray-300"
                >Pro</span
              >
            </a>
          </li>
        </ul>
      </div>
    </aside>

    <div class="p-4 sm:ml-64 h-screen">
      {% if session.logged_in %}
      <header>
        <nav
          class="bg-white border-gray-200 px-4 lg:px-6 py-2.5 dark:bg-gray-800"
        >
          <div
            class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl"
          >
            <a href="https://flowbite.com" class="flex items-center">
              <img
                src="https://flowbite.com/docs/images/logo.svg"
                class="mr-3 h-6 sm:h-9"
                alt="Flowbite Logo"
              />
              <span
                class="self-center text-xl font-semibold whitespace-nowrap dark:text-white"
                >Flowbite</span
              >
            </a>
            <div class="flex items-center lg:order-2">
              <a
                href="/logout"
                class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                >Log Out</a
              >
              <button
                data-collapse-toggle="mobile-menu-2"
                type="button"
                class="inline-flex items-center p-2 ml-1 text-sm text-gray-500 rounded-lg lg:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
                aria-controls="mobile-menu-2"
                aria-expanded="false"
              >
                <span class="sr-only">Open main menu</span>
                <svg
                  class="w-6 h-6"
                  fill="currentColor"
                  viewBox="0 0 20 20"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    fill-rule="evenodd"
                    d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
                    clip-rule="evenodd"
                  ></path>
                </svg>
                <svg
                  class="hidden w-6 h-6"
                  fill="currentColor"
                  viewBox="0 0 20 20"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    fill-rule="evenodd"
                    d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                    clip-rule="evenodd"
                  ></path>
                </svg>
              </button>
            </div>
          </div>
        </nav>
      </header>
      <div
        id="input-section"
        class="p-4 border-2 border-gray-200 border-dashed rounded-lg dark:border-gray-700"
      >
        <div class="grid grid-cols-3 gap-4 mb-4">
          <div class="ml-64 p-4">
            <!-- Your existing content goes here -->
            <div class="mb-8">
              {% if encrypted_catatan %}
              <div
                id="alert-border-1"
                class="flex items-center p-4 mb-4 text-blue-800 border-t-4 border-blue-300 bg-blue-50 dark:text-blue-400 dark:bg-gray-800 dark:border-blue-800"
                role="alert"
              >
                <svg
                  class="flex-shrink-0 w-4 h-4"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="currentColor"
                  viewBox="0 0 20 20"
                >
                  <path
                    d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
                  />
                </svg>
                <div class="ms-3 text-sm font-medium">
                  <p>ID: {{ id }}</p>
                  <p>Encrypted Tanggal: {{ encrypted_tanggal }}</p>
                  <p>Encrypted Catatan: {{ encrypted_catatan }}</p>
                  <p>Encrypted Catatan: {{ encrypted_tanggal }}</p>
                  <p>Encrypted Catatan: {{ encrypted_catatan }}</p>
                  <p>Encrypted Catatan: {{ encrypted_rencana }}</p>
                  <p>Encrypted Catatan: {{ encrypted_evaluasi }}</p>
                  <p>Encrypted Catatan: {{ encrypted_riwayat }}</p>
                  <p>Encrypted Catatan: {{ encrypted_rekam }}</p>
                  <p>Encrypted Catatan: {{ encrypted_tes }}</p>
                  <p>Encrypted Catatan: {{ encrypted_pencitraan }}</p>
                </div>
                <button
                  type="button"
                  class="ms-auto -mx-1.5 -my-1.5 bg-blue-50 text-blue-500 rounded-lg focus:ring-2 focus:ring-blue-400 p-1.5 hover:bg-blue-200 inline-flex items-center justify-center h-8 w-8 dark:bg-gray-800 dark:text-blue-400 dark:hover:bg-gray-700"
                  data-dismiss-target="#alert-border-1"
                  aria-label="Close"
                >
                  <span class="sr-only">Dismiss</span>
                  <svg
                    class="w-3 h-3"
                    aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 14 14"
                  >
                    <path
                      stroke="currentColor"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
                    />
                  </svg>
                </button>
              </div>
              {% endif %}
              <!--header-->
              <form method="POST" action="/pemeriksaan">
                <div class="relative z-0 w-full mb-6 group">
                  <input
                    type="text"
                    name="id"
                    id="typeIdX"
                    class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                    placeholder=" "
                    value="{{ request.form['id'] if request.form['id'] else request.args.get('id', '') }}"
                  />

                  <label
                    for="typeIdX"
                    class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
                    >Id</label
                  >
                </div>
                <button
                  class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                  type="submit"
                >
                  Cari
                </button>
                <div>
                  <input value="" />
                </div>

                {% for row in data %}
                <div class="grid md:grid-cols-2 md:gap-6">
                  <div class="relative z-0 w-full mb-6 group">
                    <input
                      type="text"
                      name="name"
                      id="typeNamaX"
                      class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                      placeholder=" "
                      value="{{ row[0] }}"
                    />

                    <label
                      for="typeNamaX"
                      class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
                      >Nama</label
                    >
                  </div>

                  <div class="relative z-0 w-full mb-6 group">
                    <input
                      type="text"
                      name="lahir"
                      id="typeLahirX"
                      class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                      placeholder=" "
                      value="{{ row[1] }}"
                      readonly
                    />
                    <label
                      for="typeLAhirX"
                      class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
                      >Lahir</label
                    >
                  </div>
                </div>
                <div class="grid md:grid-cols-2 md:gap-6">
                  <div class="relative z-0 w-full mb-6 group">
                    <input
                      type="text"
                      name="alamat"
                      id="typeAlamatX"
                      class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                      placeholder=" "
                      value="{{ row[2] }}"
                      readonly
                    />
                    <label
                      for="typeAlamatX"
                      class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
                      >Alamat</label
                    >
                  </div>

                  <div class="relative z-0 w-full mb-6 group">
                    <input
                      type="text"
                      name="kontak"
                      id="typeKontak"
                      class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                      placeholder=" "
                      value="{{ row[3] }}"
                      readonly
                    />
                    <label
                      for="typeKontak"
                      class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
                      >Kontak</label
                    >
                  </div>
                </div>

                {% endfor %}

                <div class="relative z-0 w-full mb-6 group">
                  <input
                    type="text"
                    name="tanggal"
                    id="typeTanggalX"
                    class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                    placeholder=""
                    readonly
                  />
                  <label
                    for="typeTanggalX"
                    class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
                    >Tanggal Sesi</label
                  >
                </div>

                <div class="relative z-0 w-full mb-6 group">
                  <input
                    type="text"
                    name="catatan"
                    id="typeCatatanX"
                    class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                    placeholder=" "
                  />
                  <label
                    for="typeCatatanX"
                    class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
                    >Catatan Sesi</label
                  >
                </div>

                <div class="relative z-0 w-full mb-6 group">
                  <input
                    type="text"
                    name="rencana"
                    id="typeRencanaX"
                    class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                    placeholder=" "
                  />
                  <label
                    for="typeRencanaX"
                    class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
                    >Rencana</label
                  >
                </div>

                <div class="relative z-0 w-full mb-6 group">
                  <input
                    type="text"
                    id="typeEvaluasiX"
                    name="evaluasi"
                    class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                    placeholder=""
                  />
                  <label
                    for="typeEvaluasiX"
                    class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
                    >Evaluasi</label
                  >
                </div>

                <div class="relative z-0 w-full mb-6 group">
                  <input
                    type="text"
                    id="typeRiwayatX"
                    name="riwayat"
                    class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                    placeholder=""
                  />
                  <label
                    for="typeRiwayatX"
                    class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
                    >Riwayat Medis</label
                  >
                </div>

                <div class="relative z-0 w-full mb-6 group">
                  <input
                    type="text"
                    id="typeRekamX"
                    name="rekam"
                    class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                    placeholder=""
                  />
                  <label
                    for="typeRekamX"
                    class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
                    >Rekam Medis Elektronik (EMR)</label
                  >
                </div>

                <div class="relative z-0 w-full mb-6 group">
                  <input
                    type="text"
                    id="typeTesX"
                    name="tes"
                    class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                    placeholder=""
                  />
                  <label
                    for="typeTesX"
                    class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
                    >Tes Laboratorium</label
                  >
                </div>

                <div class="relative z-0 w-full mb-6 group">
                  <input
                    type="text"
                    id="typePencitraanX"
                    name="pencitraan"
                    class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                    placeholder=""
                  />
                  <label
                    for="typePencitraanX"
                    class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
                    >Pencitraan</label
                  >
                </div>

                <div class="relative z-0 w-full mb-6 group">
                  <input
                    type="text"
                    name="selectedId"
                    class="hidden"
                    id="selectedId"
                    value="1"
                  />
                  <input
                    type="text"
                    name="searchinput"
                    class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                    placeholder=""
                    id="searchInput"
                  />
                  <ul class="dropdown-list" id="dropdownList">
                    {% for row in alex %}
                    <li data-id="{{ row[0] }}" data-nama="{{ row[1] }}">
                      {{ row[1] }}
                    </li>
                    {% endfor %}
                  </ul>

                  <label
                    for="searchInput"
                    class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
                    >Obat</label
                  >
                </div>

                <!--         <script src="js/script.js"></script>-->
                <button
                  class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                  type="submit"
                >
                  Input
                </button>
              </form>

              <div
                id="popup-modal"
                tabindex="-1"
                class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full"
              >
                <div class="relative p-4 w-full max-w-md max-h-full">
                  <div
                    class="relative bg-white rounded-lg shadow dark:bg-gray-700"
                  >
                    <button
                      type="button"
                      class="absolute top-3 end-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
                      data-modal-hide="popup-modal"
                    >
                      <svg
                        class="w-3 h-3"
                        aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 14 14"
                      >
                        <path
                          stroke="currentColor"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          stroke-width="2"
                          d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
                        />
                      </svg>
                      <span class="sr-only">Close modal</span>
                    </button>
                    <div class="p-4 md:p-5 text-center">
                      <svg
                        class="mx-auto mb-4 text-gray-400 w-12 h-12 dark:text-gray-200"
                        aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 20 20"
                      >
                        <path
                          stroke="currentColor"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          stroke-width="2"
                          d="M10 11V6m0 8h.01M19 10a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
                        />
                      </svg>
                      <h3
                        class="mb-5 text-lg font-normal text-gray-500 dark:text-gray-400"
                      >
                        Are you sure you want to delete this product?
                      </h3>
                      <!-- Content of your pop-up goes here -->
                      <p>ID: {{ id }}</p>
                      <p>Encrypted Tanggal: {{ encrypted_tanggal }}</p>
                      <p>Encrypted Catatan: {{ encrypted_catatan }}</p>
                      <p>Encrypted Catatan: {{ encrypted_tanggal }}</p>
                      <p>Encrypted Catatan: {{ encrypted_catatan }}</p>
                      <p>Encrypted Catatan: {{ encrypted_rencana }}</p>
                      <p>Encrypted Catatan: {{ encrypted_evaluasi }}</p>
                      <p>Encrypted Catatan: {{ encrypted_riwayat }}</p>
                      <p>Encrypted Catatan: {{ encrypted_rekam }}</p>
                      <p>Encrypted Catatan: {{ encrypted_tes }}</p>
                      <p>Encrypted Catatan: {{ encrypted_pencitraan }}</p>
                      <button
                        data-modal-hide="popup-modal"
                        type="button"
                        class="text-white bg-red-600 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 text-center me-2"
                      >
                        Yes, I'm sure
                      </button>
                      <button
                        data-modal-hide="popup-modal"
                        type="button"
                        class="text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-200 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600"
                      >
                        No, cancel
                      </button>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Existing content below this line -->

              <script src="../path/to/flowbite/dist/flowbite.min.js"></script>
              <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.1.1/flowbite.min.js"></script>
              <script>
                // Function to save input values when the form is submitted
                function saveInputValues() {
                  var idInput = document.getElementById("typeIdX");
                  sessionStorage.setItem("idValue", idInput.value);
                }

                // Function to restore input values when the page is reloaded
                window.onload = function () {
                  var idInput = document.getElementById("typeIdX");
                  var storedIdValue = sessionStorage.getItem("idValue");
                  if (storedIdValue) {
                    idInput.value = storedIdValue;
                  }
                };

                function getTodayDate() {
                  const today = new Date();
                  const year = today.getFullYear();
                  const month = (today.getMonth() + 1)
                    .toString()
                    .padStart(2, "0");
                  const day = today.getDate().toString().padStart(2, "0");
                  return `${year}-${month}-${day}`;
                }

                // Mendapatkan elemen input tanggal
                const tanggalInput = document.getElementById("typeTanggalX");

                // Mengatur nilai input tanggal dengan tanggal saat ini
                tanggalInput.value = getTodayDate();
              </script>

              <script>
                document.addEventListener("DOMContentLoaded", function () {
                  var input = document.getElementById("searchInput");
                  var list = document.getElementById("dropdownList");
                  var items = list.getElementsByTagName("li");

                  // Tambahkan referensi untuk textbox ID dan Nama
                  var selectedId = document.getElementById("selectedId");
                  var selectedName = document.getElementById("selectedName");

                  input.addEventListener("input", function () {
                    var filter = input.value.toLowerCase();

                    for (var i = 0; i < items.length; i++) {
                      var text = items[i].innerText.toLowerCase();
                      if (text.indexOf(filter) > -1) {
                        items[i].style.display = "";
                      } else {
                        items[i].style.display = "none";
                      }
                    }
                  });

                  input.addEventListener("focus", function () {
                    list.style.display = "block";
                  });

                  input.addEventListener("blur", function () {
                    setTimeout(function () {
                      list.style.display = "none";
                    }, 200);
                  });

                  for (var i = 0; i < items.length; i++) {
                    items[i].addEventListener("mousedown", function (event) {
                      event.preventDefault(); // Prevents the input from losing focus
                      var id = this.getAttribute("data-id");
                      var nama = this.getAttribute("data-nama");

                      // Tetapkan nilai input dan textbox untuk menampilkan ID
                      input.value = nama;
                      selectedId.value = id;

                      list.style.display = "none";

                      // Gunakan data id dan nama sesuai kebutuhan Anda
                      console.log("ID:", id, "Nama:", nama);
                    });

                    // Add cursor style to indicate interactivity
                    items[i].style.cursor = "pointer";
                  }
                });
              </script>

              <!-- Notifikasi -->
              <script>
                // JavaScript function to show the pop-up
                function showPopup() {
                  document.getElementById("popupContainer").style.display =
                    "block";
                }

                // JavaScript function to close the pop-up
                function closePopup() {
                  document.getElementById("popupContainer").style.display =
                    "none";
                }

                // Check if the flag to show the pop-up is set
              </script>

              <script>
                document.addEventListener("DOMContentLoaded", function () {
                  var encryptedCatatan = "{{ encrypted_catatan }}";
                  var alertElement = document.getElementById("alert-border-1");

                  if (!encryptedCatatan) {
                    alertElement.style.display = "none";
                  }
                });
              </script>
            </div>
          </div>
        </div>
      </div>
      <div
        id="data-section"
        class="p-4 border-2 border-gray-200 border-dashed rounded-lg dark:border-gray-700 hidden h-screen"
      >
        <div class="grid gap-4 mb-4 h-full">

           <iframe src="/view_data" width="100%" height="100%" frameborder="0"></iframe>

        </div>
      </div>
      {% else %}
      <!-- If the user is not logged in, display a message or redirect to the login page -->
      <p>
        You need to log in to access this page. Please
        <a href="/">login</a>.
      </p>
      {% endif %}
    </div>

    <script>
      const inputObat = document.getElementById("inputObat");
      const lihatObat = document.getElementById("lihatObat");
      const formInputObat = document.getElementById("input-section");
      const formLihatObat = document.getElementById("data-section");

      inputObat.addEventListener("click", function () {
        formInputObat.classList.remove("hidden");
        formLihatObat.classList.add("hidden");
      });

      lihatObat.addEventListener("click", function () {
        formLihatObat.classList.remove("hidden");
        formInputObat.classList.add("hidden");
      });
    </script>
  </body>
</html>
